In [ ]:


def hello():
    print("hello!")
    print("cdac")
    print("patna")
    
hello()

In [2]:
a=5
if a<2:
  print("number is greater than 2")
else: 
  print("number is less than 2")

number is less than 2

In [11]:
a=('cadc')
print(a)

cadc

In [12]:
a=3
b=4
print(a,b)

3 4

In [13]:
a=3
A=5
print(a)

3

In [21]:
a='345'

x= float (a)
print('a
      ')

x

In [2]:
name="aditya"
age=22
print(name)
print(age)

aditya
22

In [10]:
a=2
print(a)

2

In [8]:
name='aditya'
age=22
print(name)
print(age)

aditya
22

In [11]:
name='tonystark'
age=51
genius='true'
print(name)
print(age)
print(genius)

tonystark
51
true

In [1]:
name=str(input())
lastname=str(input())
age=int(input())
lastyear=str(input())
print(name,lastname,age,lastyear)

aditya
sharma
22
2021
aditya sharma 22 2021

In [26]:
a=5
if a>2:
 print('number is less than 2')
else:
 print('number is less than 2')

number is less than 2

In [25]:
first=input('enter first number')
second=input('enter second number')
sum =int(first)+int(second)
print(sum)

enter first number2
enter second number5
7

In [11]:
first=input ('enter fisrt number')
second=input(' enter second number')
sum=float(first)+float(second)
print(sum)

enter fisrt number6.5
 enter second number6.5
13.0

In [1]:
print('hello world')

hello world

In [15]:
a=0<2
b=0>2
print(a)
print(b)

True
False

In [16]:
a=10
b=5
sum=(a+b)
print(sum)

15

In [17]:
a=10
b=8
sub=(a-b)
print(sub)

2

In [18]:
a=10
b=5
s=a<10,b>2
print(s)

(False, True)

In [19]:
a =10
b=3
s=a>0,b>0
print(s)

(True, True)

In [21]:
a=2.3
b=2.5
s=float(a)+float(b)
print(s)

4.8

In [31]:
a=222
b=22


kilometer=a
              
            
              
conversion=b
z=kilometer int(a)*conversion int(b)
 printf(z)

SyntaxError: invalid syntax (Temp/ipykernel_14592/2386549268.py, line 10)

In [32]:
a=12.85
x=int(a)
print(type,x)

<class 'type'> 12

In [34]:
z=3+4j
print(type,z)

<class 'type'> (3+4j)

In [37]:
s=''''cdac is conducting pgai course 
reading pg-dai
class of python'''
print(s)
print(len(s))
 

print(s[len(s)-62])
print(s[5])
print(type(s))

'cdac is conducting pgai course
reading pg-dai
class of python
63
c

<class 'str'>

In [43]:
x=len(s)# len () is a function whcih takes squence as a parameter amd retuns its length 
# indexing will startt from 0 and

In [47]:
course=['ml','ai',45,'3,4,5']
print(len(course))

4

In [48]:
print(course[0])

ml

In [50]:
x=input("enter a number")

enter a number45

In [51]:
print(x)

45

In [52]:
print(type(x))

<class 'str'>

In [58]:
x=input("enter a name")

enter a name aditya

In [59]:
print(type(x))

<class 'str'>

In [60]:
print(float(x))

ValueError: could not convert string to float: ' aditya'

In [19]:
a=int(input("length ="))
b=int(input("breath ="))
sub=a-b
pro=(a*b)
T=float(0.5)*a*b
c=float(3.14*a*a)
p="answers ="

print(p,sub,pro,T,c,)

length =2
breath =2
answers = 0 4 2.0 12.56

p=int(input("princle =)
r=int(input("rate =)
t=input(input("time =)
p=p*r*t
print(p)

In [74]:
a=15
print(15%2)

1

In [80]:
a=15

if a%2==0:
    print('the number will be even')
else:
    print("the number will be odd")

the number will be odd

In [90]:
a=int(input())
s=a*2
print(s)

225

In [4]:
a=4
s=a*2
print(s)

8

In [88]:
a=15
s=(a**0.5)
print(s)

3.872983346207417

In [91]:
x,y=input().split(",")

3,4

In [ ]:
x=[int(x)for x i]

In [93]:
num1=10
num2=14
num3=12
if (num1>=num2)and(num1>num3):
    largest=num1
elseif(num2>=num1)and(num2>=num3): 
    largest=num2
else:
    largest=num3:
    print('the largest number is',largest )

SyntaxError: invalid syntax (Temp/ipykernel_14592/4133332352.py, line 6)

In [ ]:
num1=int(input("enter first number:"))
num2=int(input("enter second number"))
num3=int(input)('enter third number')

In [2]:
num1=10
num2=14
num3=12
if(num1>=num2)and(num1>=num3):
   print( largest=num1)
elif(num2>=num1)and (num2>=num3):
    largest=num2
else:
    largest=num3

In [3]:

r=2
pie=3.14
s=float(3.14*2)
print(s)

6.28

In [20]:
a=()
b=()
if a==0:
    print("if a is greater")
else: 
    print("if b is greater")

SyntaxError: invalid syntax (Temp/ipykernel_14908/3429470456.py, line 1)

In [19]:
a=2
s=a*3
print(s)

6

In [9]:
num1=12
num2=6
if num1>num2:
    print('num1')
else:
    print('num2')

num1

In [5]:
#find area of rectangle
l=20
b=2
a=l*b
print(a)

40

In [6]:
num=int(input("enter a number"))
if(num%2)==0:
    print({0}is even".format(num))
else:
    print("{0}"is odd".format(num))

SyntaxError: EOL while scanning string literal (Temp/ipykernel_2420/1093992586.py, line 3)

In [13]:
a=7
if a%2:
    print('a is even')
else :
    print('a is odd' )

a is even

In [14]:
#find the square root of 8
a=8
s=a*0.5
print(s)

4.0

In [16]:
#find square of 8
a=8
s=8*8
print(s)

64

In [3]:
num1=10
num2=20
num3=30
if num1>num2:
    print(num1)
elif num2>num3:
    print(num2)
else:
    print(num3)

30

In [32]:
#find number is positive or negative
a=8
if a>0:
    print("a is positive")
else:
    print("a is negative")

a is positive

In [33]:
#chnage the value with result of tempature
c=37.5
f=(c*1.8)+32
print(f)

99.5

In [34]:
M=0.621371
K=1000*float(M)
print(K)

621.371

In [50]:
a=input("enter first number")
b=input("enter second number")
s=float(a)+float(b)
print(s)

enter first number2
enter second number3
5.0

In [57]:
#calcute the area of triangle
a=2
b=3
c=4
s=(a+b+c/2)
print(s)
a=(s*(s-a)*(s-b)*(s-c))*0.5
print(a)

7.0
210.0

In [55]:
a=(s(s-a)*(s-b)*(s-c))
print(a)

TypeError: 'float' object is not callable

In [5]:
a=16
if a%2==0:
    print("even")
else:
    print("zero")

even

In [13]:
#sum of natural number
a=10
b=6
if a<8:
    print(a)
else:
    print(b)

6

In [48]:
#to find minimum number bwtween two numbers

a=2
b=1
if a<b:
    print("a is minimu")
else : 
    print("b is minium")

b is minium

In [38]:
#calculte the area of trigle with help of herozen formula
a=2
b=3
c=4
s=(a+b+c/2)
print(s)
a=(s*(s-a)*(s-b)*(s-c))*0.5
print(a)

7.0
210.0

In [39]:
#calulte the area of rectangle
l=2
b=2
s=l*b
print(s)

4

In [45]:
#calculte the of circle
r=2

pie=3.14
s=float(3.14*r*r)
print(s)

12.56

In [42]:
Program to find minimum of 2 given numbers.
Program to check if a given year is leap year or not.
Program to check if a number is divisible by 5.
Program to find cube root of a number.
Program to find amount if principal, rate and time is given.
program to find average of 2 numbers.

length of triangle2
breath of triangle3

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
#find a leap year
a=input( "year")
if int(a)/4:
    print("year is aleap year")
else:
    print("year is not a leap year")

In [4]:
#number is disible by 5
a=input("a number")
if int(a)/5:
    print("a is divisible by 5")
else :
    print("a is not divisible by 5")

a number18
a is divisible by 5

In [3]:
#square root of  number 
a=15
s=a*0.3
print(s)

4.5

In [18]:
#average of two number
a=125
b=25
s=a+b/2
print(s)

137.5

In [19]:
#find the simple interest
p=100

r=20
t=3
si=(p*r*t/100)
print(si)

60.0

NameError: name 'print5' is not defined

In [8]:
#formula based program
a=input("a number")
b=input("b number")
s=int(a)+int(b)
print('s =',s)

a number2
b number2
s = 4

In [9]:
#
a=4
b=7
s=(a+b)
print(s)

11

In [14]:
a=75
b=100
s=(75*100/100)
print(s)

75.0

In [9]:
a=input("a number")
b=input("b number")
s=int(a)*int(b)/int(100)
print((s))

a number95
b number25
23.75

In [23]:
x=input("a number")
s=int(x)*float(3.14)
print(s)

a number12
37.68

In [17]:
def myfunc():
  
 global
 
  x = "fantastic"

SyntaxError: invalid syntax (Temp/ipykernel_3928/140081938.py, line 3)

In [3]:
txt = " Hello World "

txt.strip()

'Hello World'

In [4]:
txt="hello world"
txt.upper()

'HELLO WORLD'

In [5]:
txt="HELLO WORLD"
txt.lower()

'hello world'

In [10]:
num=10
i=range(1,10)
s=int("range")*int("num")
print(s)

ValueError: invalid literal for int() with base 10: 'range'

In [3]:
a=int(inpu )
b=int(input a value)

SyntaxError: invalid syntax (Temp/ipykernel_11380/3917232514.py, line 1)

In [8]:
x1 = {"name" : "John", "age" : 36}

x2=("name","johan","age",36)

x3={"name","johan","age",36}

x4=("name","johan","age")
print(type(x1)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_11380/2288330734.py, line 8)

In [2]:
x=("name","johan","age",36)
print(type(x))

<class 'tuple'>

In [3]:
x={"name","johan","age",36}
print(type(x))

<class 'set'>

In [6]:
x=("name","johan","age")
print(type(x))

<class 'tuple'>

In [9]:
x='''my name is aditya sharma i m a student of cdac patna '''
print str(len(0))

SyntaxError: invalid syntax (Temp/ipykernel_10500/3221839713.py, line 2)

In [4]:
year =1999
is_leapyear = year % 4 == 0 
print(is_leapyear)

False

In [6]:
a=input ("year")
if a%4==0:
    print("year is  a leap year")
else:
    print("year is not a leap year")

year2022

TypeError: not all arguments converted during string formatting

In [7]:
a=int(input())
if a%4==0:
    print("leap year")
else:
    print("not a leap year")

2022
not a leap year

In [12]:
#swapping the value.
x=int(input('number='))
y=int(input('number='))
temp = x
x = y
y = temp
a=int(input('year='))
if a%4==0:
    print("leap year")
else:
    print("not a leap year")
l=float(input("u="))
b=float(input("z="))
s=float(0.5)*l*b
a=int(input("number ="))
if a%3==0:
    print("negative")
else:
    print("postive")
    
num1=int(input("number 1="))
num2=int(input("number 2="))
num3=int(input("number 3="))
if(num1>=num2)and(num1>=num3):
    print(num1)
elif(num2>=num1)and (num2>=num3):
    print(num2)
else:
    print(num3)
print(x,y,a,s)

number=2
number=3
year=2024
leap year
u=2
z=3
number =4
postive
number 1=6
number 2=7
number 3=8
8
3 2 4 3.0

In [ ]:
#find the area of tringle 
l=float(input())
b=float(input())
s=float(0.5)*l*b
print(s)

In [ ]:
#find area of rectangel
l=int(input())
b=int(input())
a=l*b
print("area of" a)

#prameter of triangle
l=int(input())
b=int(input())
a=float(0.5)+l+b
print("area of a")

In [ ]:
l=int(input())
b=int(input())
a=float(0.5)+l+b

print(a)

In [32]:
# This program adds two numbers
# Python Program to calculate the square root
# Taking kilometers input from the user
#Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.
# Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
#cheack the number is positve or negative
## Python Program to convert temperature in celsius to fahrenheit

# change this value for a different result
x=int(input("number 1"))
y=int(input("number 2"))

sum=x+y

B=if x>0:
    print("x is negative")
else:
    print("x is postive")
    print (sum,A)

SyntaxError: invalid syntax (Temp/ipykernel_20860/4065395650.py, line 20)

In [31]:
if x>y:
               print("x is negative")
        else:
               print("y is negative)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [10]:
#nuber is negative and which on is greater
a=int(input("number ="))
if a%3==0:
    print("negative")
else:
    print("postive")
num1=int(input("number 1="))
num2=int(input("number 2="))
num3=int(input("number 3="))
if(num1>=num2)and(num1>=num3):
    print("number1 is greater =",num1)
elif(num2>=num1)and (num2>=num3):
    print('number2 is greater=',num2)
else:
    print("number3 is greater=",num3)

number =2
postive
number 1=2
number 2=3
number 3=4
number3 is greater= 4

In [ ]:
num = int(input("Display multiplication table of? "))
x=(a,b,c,e,f)*(num)
print(x)

In [ ]:
#print(values,sep=",end="/n")

In [ ]:
print("d","a",sep="",)
print("I")

In [7]:
print("geeks : %2d, portal: %5.2f "%(123,05.337))

geeks : 123, portal:  5.34

In [8]:
print(11%-4)

-1

In [9]:
print(-11%-4)

-3

In [2]:
a=int(input("a ="))
b=int(input("b ="))
s=a+b
sub=a-b
p=a*b
d=a/b
f=a//b
m=a%b
print("s="s,"sub="sub,"p="p,"d="d,"f="f,"m="m)

SyntaxError: invalid syntax (Temp/ipykernel_17492/1823215741.py, line 9)

In [4]:
a=int(input())
b=int(input())
a=a>b
b=a<b
c=a==b
d=a!=b
e=a>=b
f=a<=b
print(a,b,c,d,e,f)

12
5
True True True False True True

In [5]:
a=int(input())
b=int(input())
if a>b:
    print("a is greater")
else:
    print("b is less")

22
3
a is greater

In [1]:
a=int(input())
if a%3==0:
    print("divisble")
else:
    print("! divisible")

17
! divisible

In [2]:
a=int(input())
b=int(input())
if a==b:
    print("square")
else:
    print("not a square")

2
2
square

In [5]:
num1=int(input("a="))
num2=int(input("b="))
num3=int(input("c="))
if num1>num2:
    print(num1)
elif num2>num3:
    print(num2)
else:
    print(num3)

a=2
b=3
c=4
4

In [13]:
x=int(input ())
a=(1,2,3,4,5,6)
z=a*x
print(z)

12
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [1]:
a=int(input ())
b=int(input ())
c=int(input ())
if (a>b>c):
    print("Isosceles Triangle")
elif (a=b=c):
    print("Equilateral Triangle")
else a>b and b=c:
    print("Scalene Triangle")

SyntaxError: invalid syntax (Temp/ipykernel_468/740769856.py, line 8)

a=int(input ())
b=int(input ())
c=int(input ())
if a+b>c:
    print("is a triangle")
else:
    print("not a triangle")

In [2]:
import keyword
len(keyword.kwlist)

36

In [3]:
a=10
aa=10
ab=10

a1a=0
a_a=10
ab1=10
a@b=10
a$a=
Aa=10
A_=10
_a=10
_a=10

SyntaxError: cannot assign to operator (Temp/ipykernel_9084/792186937.py, line 8)

In [8]:
#indexing 
a="ranjan"

a[2:4]

'nj'

In [9]:
a="ranjan"
a[2:3]

'n'

In [10]:
#syntax string_ name[start index:end index]
#string_name [start_index:end index]
#if we will not give end_index then during slicing we will get all the character till the end
#if we will not give start_then by default it will with 0

In [11]:
a[:3]

'ran'

In [12]:
a[3:]

'jan'

In [13]:
a[2:5]

'nja'

In [14]:
a="ancdfghijklmnop"
a[3:10:2]

'dgik'

In [15]:
a[3: :3]

'dhkn'

In [16]:
a[ : :-1]

'ponmlkjihgfdcna'

In [1]:
#membership opertor
s=[1,2,3,"cdac"]
print(3 in s)

True

In [4]:
print( 2 not in s)

False

In [5]:
#idenity opertors
#control flow
#conditonal programming 
#conditons if and else

In [4]:
#u have check right angled triangle and isocesles triangele
a=int(input())
b=int(input())
c=int(input())
if a*a+b*b==c*c or a*a+c*c
    print("right angled triangle")
else:
    print("not a right angled tringle")

SyntaxError: invalid syntax (Temp/ipykernel_8440/4199357593.py, line 5)

In [ ]:
#number is odd or not 
a=int(input())

if a%2:
    print("no.odd")
else:
    print("no. is not odd")

In [1]:
x=int(input("number 1="))
y=int(input("number 2="))
z=input()
if(z=="+"):
    print(x+y)
   
    
elif(z=="*"):
    print(x*y) 
elif(z=="/"):
    print(x/y)
elif(z=="%"):
    print(x%y)

else:
    print(x,y,"invalid no")

number 1=2
number 2=3
5
2 3 invalid no

num1=16
num=3
op=input("enter the opertors sign")
if op=="+":
    print(num1+num2)
elif op=="-":
    print(num1-num2)
elif op=="*":
    print(num1*num2)
elif op=="/":
    print(num1/num2)
elif op=="%":
    print(num1%num2)
else:
    print(num1,num2,"invalid no.")

In [7]:
u=500
if 100>500:
    print("free")
elif 400>500:
    print("2 unit")
elif 1000>500:
    print("5units")
else:
    print("invalid")

5units

In [9]:
#loops
#for
list=["cdac","patna,""pgai"]
#print the element
for i in list:
    print(i)

cdac
patna,pgai

In [3]:
range(6)=[0,1,2,3,4,5]
range(3,6)=[3,4,5]
range(start,end,stepsize)# start=0, end   stepsize=1

SyntaxError: cannot assign to function call (Temp/ipykernel_11364/2467274701.py, line 1)

In [4]:
for i in range(1):
    print(i)

In [5]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(1,100):
    if print(i%3==0):
        print(i,end="")

    lk

False

NameError: name 'lk' is not defined

In [1]:
#list
it is define by square bracet[].
it is allow indexing and silicing.
it allow hetreogenous elements.
it is mutable.
#given the name is know as in
#tuple
it is define by square bracet[].
it is allow indexing and silicing.
it allow hetreogenous elements.
it is in mutable

SyntaxError: invalid syntax (Temp/ipykernel_17000/177378023.py, line 2)

In [18]:
b=[10,10.5,"rajan",10+20j,"true"]
type(b)
b.append("true")
print(b)

[10, 10.5, 'rajan', (10+20j), 'true', 'true']

In [44]:


b.clear()
print(b)
b.extend("rajan")
print(b)
b.copy()
print(b)
#b.index(4)
b.reverse()
print(b)
#b.remove()
#print(b)
b.sort()
print(b)
b.pop()
print(b)

[]
['r', 'a', 'j', 'a', 'n']
['r', 'a', 'j', 'a', 'n']
['n', 'a', 'j', 'a', 'r']
['a', 'a', 'j', 'n', 'r']

TypeError: 'str' object cannot be interpreted as an integer

[10, 10.5, 'rajan', (10+20j), 'true', 'aditya']

In [14]:
b[:2]

[10, 10.5]

[10, 10.5, 'rajan', (10+20j), 'true', 'aditya']

In [15]:
b[-1]

'aditya'

In [16]:
b[-2]

'true'

In [17]:
b[2:3]

['rajan']

In [18]:
b[2:4]

['rajan', (10+20j)]

In [19]:
b=(10,)
type(b)

tuple

In [20]:
#set
set is defined by {}
set consist heterogenous element
set allow unique vale
set does not follow indexing and slicing (it mean it is unordered).

In [21]:
a={10,10,10,20,30,40,50}
type(a)

set

In [57]:
a={10,10,10,20,30,40,50}
print(a)
type(a)

print(a.add(60,60))
print(a.remove(10,10))

{50, 20, 40, 10, 30}

TypeError: set.add() takes exactly one argument (2 given)

In [51]:

print(a.add(40))

None

In [59]:
ranage(1,9,2)

SyntaxError: cannot assign to function call (Temp/ipykernel_8380/279771987.py, line 1)

In [60]:
#binary-base 2--bin()---0,1--------------------0b10110001
#octal-base 8 oct()--------0,1,2,3,4,5,6,7,8,9,
#hexandecimal-base 16--hex()----0,1,2,3,4,5,6,7,8,a,b,c,d,e,f,g,h
#if number is start with 0b is knowns binary
#if number is start with 0b is knowns oct
#if number is start with 0b is knowns hex

Object `u` not found.

In [66]:
a=24
oct(a)
bin(a)
hex(a)

'0x18'

In [74]:
bin(-24)

'-0b11000'

In [69]:
oct(-24)

'-0o30'

In [67]:
hex(-24)

'-0x18'

In [75]:
a=0b11000
int(a)

24

In [76]:
a=0x18
int(a)

24

In [77]:
hex(a)

'0x18'

In [78]:
oct(a)

'0o30'

In [97]:
#typecasting
# a=10 typecast integer
#b=10.5
#c="aditya"
#complex
#boolean

a=10
a1=float(a)
a2=str(a)
a3=bool(a)
a4=complex(a)
print(a1,a2,a3,a4)

10.0 10 True (10+0j)

In [85]:
a=10.5
a1=int(a)
a2=str(a)
a3=bool(a)
a4=complex(a)
print(a1,a2,a3,a4)

10 10.5 True (10.5+0j)

In [100]:
#complex number
a=5.5+0j
a1=float(a)
a4=int(a)
a2=str(a)
a3=bool(a)
print(a1,a2,a3,a4)

TypeError: can't convert complex to float

In [1]:
t=("cdac","patna","pgdai","courese")
a,*b,c=t
print(b)

['patna', 'pgdai']

In [2]:
#itearting/looping through a tuple 
for i in t:
    print(t [i])

TypeError: tuple indices must be integers or slices, not str

In [14]:
#print all the indices where 1 is present in the list
#subtract k=10 from each of the number in list if it is greater than k.
l=[12,14,5,8,34,9]
k=10
print([i-k for i in l if i > k])

[2, 4, 24]

In [16]:
#1 capitalize 
s="how r u "
print(s.capitalize())

How r u

In [53]:
#2 size of string
s="how are you aditi"
print(len(s))
l=0
for i in s:
    l=l+1
print(l)

17
17

In [22]:
#4 upper_ case 
s=" how r u sir"
print(s.upper())

 HOW R U SIR

In [24]:
#5 reverse_list
l=["i", "a","boy","from","heavean"]
l.reverse()
print(l)

['heavean', 'from', 'boy', 'a', 'i']

In [97]:
#6 first and last letter in capital
s="eove"
w1=(s[0].upper() + s[-1].upper())

print(w1)

EE

In [41]:
#7 cancertion to string
s="my name is aditya "
t="i live in in india"
print(s  +  t)

my name is aditya i live in in india

In [43]:
#lower_case
s="HOW R U SIR"
print(s.lower())

how r u sir

In [51]:
# repeat 3 times string 
s3="HOW R U SIR"
s=s3*3
print(s)

HOW R U SIRHOW R U SIRHOW R U SIR

In [91]:
#converting string into list
s="love"
list(s)

['l', 'o', 'v', 'e']

In [98]:
#write a code to create empty string
#write a code to remove ith chacter from string
#wtr a code to spilit a string based on 
#create a which consist all type of data type
#wrt a progrm to find frequency of a chacter 
#wrt a progrm to swap a two numbers using temp nd without a temp
#wrt a code to perform the diff btw list nd taple
#wrt a code to insert list within the list 
#wrt a code to imute your a list

AttributeError: 'str' object has no attribute 'c'

In [2]:
# practising
a="a"
b="c"
print(a+'_'+b)

a_c

In [5]:
a="rajan"
a[0]
a[1]
a[2]
a[3]
a[4]

'n'

In [7]:
a='abcdefgh'
a[1:5]

'bcde'

In [8]:
a[1: :2]

'bdfh'

In [9]:
a[:3]

'abc'

In [10]:
a[2:]

'cdefgh'

In [11]:
a[-4:]

'efgh'

In [13]:
a[:-2]

'abcdef'

In [16]:
a[-6: :1]

'cdefgh'

In [40]:
l="cdac"
b="india"
print(l+"_"+b)

cdac_india

In [25]:
a=[10,20,30,40,50]
a[2]=True           # iteam assigment
print(a)

[10, 20, True, 40, 50]

In [31]:
a.append("true")
print(a)

[10, 20, True, 40, 50, True, 'sita', 'true']

NameError: name 'i' is not defined

In [48]:
a="aditya"
a=" "
for i in range(len(b)):
    if i!=2:
        a=(a+b)
print(a)

 indiaindiaindiaindia

In [58]:
a="ram is a boy"
a.split(".")

['ram is a boy']

In [ ]:
l=(aditya,the)
l.

In [59]:
a=[1,2,3,4,5,6,7]

In [71]:
#write a progrm to append 10 to 20 in a list
a=[]
b=range(10,21)
a.append(b)
print(b)

range(10, 21)

In [86]:
a=[]
for i in  range(10,21):
    a.append(i)
print(i)

20

In [88]:
a=[]
for i in  range(10,21):
    a.append(i)
print(a)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [89]:
a=[10,20,30,40]
for i in a:
    print(i)

10
20
30
40

In [96]:
for i in range(10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [97]:
for i in range(10,20):
    print(i,end = ' ')

10 11 12 13 14 15 16 17 18 19

In [98]:
for i in range(10,50,3):
    print(i,end = ' ')

10 13 16 19 22 25 28 31 34 37 40 43 46 49

In [102]:
a={10:20,"z":"ram",10:"shyam"}    
print (a)                      #no dulicate key allowed in a output..

{10: 'shyam', 'z': 'ram'}

In [ ]:
#document all the topic from first clss
#u have to practise from starting

In [4]:
a={}

In [2]:
type(a) #type of empty set is dict.

dict

In [5]:
#eluate the vaalue
a=eval(input("enter a first number")) 
type(a)

enter a first number11.5

float

In [ ]:
print('hello world')

In [6]:
a=input("enter the first number ")
b=input("enter the second number")
s=a+b                              #contenation
print(s)

enter the first number 2
enter the second number3
23

In [15]:
a=eval(input("enter the first number "))
b=eval(input("enter the second number"))
s=a+b                              
print(s)

enter the first number 6
enter the second number6
12

In [ ]:
s="rajan"

In [ ]:
#varible are two types
1 local
2 global

In [23]:
g=10
def A():
    z=20
    print("a value:",z)
    print("g value:",g)
A()    
print("outside g value ",g)
print("outside g value ",z)

a value: 20
g value: 10
outside g value  10

NameError: name 'z' is not defined

In [50]:
def square(n):
    return n*n
def sum_of_square(n):
    sum=0
    for i in range(n+1):
         
        sum+=square(i)
        
        
    return(sum)   
        
    
        
   
        
    

sum_of_square(10)

385

In [51]:
input.keywords
print(keywords)

AttributeError: 'function' object has no attribute 'keywords'

In [55]:
a=10
print(a)
id(a)

10

1684344302160

In [53]:
b=10
rint(b)
print(type (b))

NameError: name 'rint' is not defined

In [54]:
#float 
a=10.5
type(a)
id(a)

1684421581040

In [59]:
#1 convert integer into binary number,hexan decimal,octal base
a=10
oct(a)
bin(a)
hex(a)

print(oct(a))
print(bin(a))
print(hex(a))

0o12
0b1010
0xa

In [74]:
#2convert negative integer into binary number,hexan decimal,octal base
c=-10
oct(c)
bin(c)
hex(c)
id(c)
print(oct(c))
print(bin(c))
print(hex(c))
print(id(c))

-0o12
-0b1010
-0xa
1684421582576

In [75]:
#3convert binary number into postive integer,hexan decimal,octal base,negative integer
b1=0b1010
int(b1)
oct(b1)
hex(b1)
int(-b1)
id(-b1)
print(int(b1))
print(oct(b1))
print(hex(b1))
print(int(-b1))
print(id(-b1))

10
0o12
0xa
-10
1684421581584

In [77]:
 #4convert octal base into postive integer,hexan decimal base,binary number,negative integer
oct1=0o12
int(oct1)
bin(oct1)
hex(oct1)
int(-oct1)
id(oct1)

print(int(oct1))
print(bin(oct1))
print(hex(oct1))
print(int(-oct1))
print(id(oct1))

10
0b1010
0xa
-10
1684344302160

In [76]:
##5 convert hexan decimal base into binary number,octal base,negative integer,postive integer
hex1=0xa
int(hex1)
bin(hex1)
oct(hex1)
int(-hex1)
id(hex1)
print(int(hex1))
print(bin(hex1))
print(oct(hex1))
print(int(-hex1))
print(id(hex1))

10
0b1010
0o12
-10
1684344302160

In [87]:
#6 converting float into binary
f=10.0625
(int(f))

10

In [88]:
0.625*2

1.25

In [89]:
1.25*2

2.5

In [90]:
2.5*2

5.0

In [92]:
bin(5)

'0b101'

In [93]:
bin(10)

'0b1010'

In [ ]:
# by doing fraction the value we get 
ob1011010
10.25=ob1011010

In [95]:
output formatting
%(1, 05.333)

SyntaxError: invalid syntax (Temp/ipykernel_36760/1204860514.py, line 1)

In [96]:
print("Geeks : %2d, Portal : %5.2f" % (1, 05.333))

Geeks :  1, Portal :  5.33

In [97]:
print("data:%2d,sun:%5.2f" %(1,05.353535))

data: 1,sun: 5.35

In [98]:
a=True
b=False
type(a)
type(b)

bool

In [99]:
a=10+20j
type(a)

complex

In [101]:
c=True+False
print(c)
d=True+True
print(d)
e=False+False
print(e)

1
2
0

In [ ]:
#complex number
a=1o+30j

In [106]:
#sting

a="rajan"
type(a)
b="RAJAN"
type(b)

'r'

In [109]:
a="rajan"
a=[::-1]

SyntaxError: invalid syntax (Temp/ipykernel_36760/1865139295.py, line 2)

In [114]:
list1=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list1:
    sum=
    print()

2
3
4
5
6
7
8
9
10
11

In [55]:
a={10,10.5,10+20j,"ranjan","True"}


a.remove(10)
print(a)

{'True', 10.5, (10+20j), 'ranjan'}

In [12]:
a=(10+20j)
type(a)

complex

In [30]:
a={10,10.5,10+20j,"ranjan","True"}
set=frozenset(a)

In [33]:
a={1:100,2:200,3:300,4:400}
type(a)

dict

In [34]:
print(a)
a

{1: 100, 2: 200, 3: 300, 4: 400}

{1: 100, 2: 200, 3: 300, 4: 400}

In [38]:
b={1:100,2:"ram",3:10.5,4:"true",5:10+10j}
type(b)

dict

In [44]:
c={"a":1,2:"shyam",3:10+10j}

c[0]

KeyError: 0

In [42]:
d={"a":"ram",a:"shyam","a":"mohan"}
type(d)
print(d)

TypeError: unhashable type: 'dict'

In [45]:
d={1:"ram",2:"shyam",3:"mohan"}
d[1]

'ram'

In [46]:
d[3]

'mohan'

In [61]:
#frozen set
student = {"name": "Ankit", "age": 21, "sex": "Male",
           "college": "MNNIT Allahabad", "address": "Allahabad"}
key = frozenset(student)
print( key)

frozenset({'name', 'college', 'age', 'address', 'sex'})

In [12]:
#set methods
set1={'name', 'college', 'age', 'address', "enroll.no"}
set1.add("roll number")
print(set1)

{'age', 'roll number', 'enroll.no', 'address', 'college', 'name'}

In [13]:
set1={'name', 'college', 'age', 'address', 'sex'}
set1.clear()
set1

set()

In [14]:
set1={'name', 'college', 'age', 'address',"enroll.no" }
set1.copy()
set1set1={'name', 'college', 'age', 'address',"enroll.no" }

{'address', 'age', 'college', 'enroll.no', 'name'}

In [18]:
a={1,2,3,4,5,6,7,8}
b={8,7,6,5,4,3,2,1}
a.difference(b)
b.difference(a)
a
b

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
set1={'name', 'college', 'age', 'address',"enroll.no" }
set1.remove("age")
print(set1)

{'enroll.no', 'address', 'college', 'name'}

In [31]:
set1={1,2,3,4,5,6,7,8}
set1.pop()
set1

{2, 3, 4, 5, 6, 7, 8}

In [32]:
set1 = {"Yellow", "Orange", "Black"}
list1 = ["Blue", "Green", "Red"]

set1.update(list1)
print(set1)

{'Orange', 'Yellow', 'Red', 'Blue', 'Black', 'Green'}

In [33]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [34]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [35]:

set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [36]:
set2 = {30, 40, 50, 60, 70}
set2.difference_update({10, 20, 30})
print(set2)

{50, 70, 40, 60}

In [37]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [38]:
set1 = {10, 20, 30, 40, 50}
set2 = {20, 30, 40, 50, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

In [42]:
#dict methods
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.clear()
dict1

{}

In [43]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.copy
dict1

{1: 'ram', 2: 'sita', 3: 'ravan', 4: 'laxman', 5: 'bhart'}

In [48]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.get(2)

'sita'

In [72]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.fromkeys("ram")

{'r': None, 'a': None, 'm': None}

In [55]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.keys()

dict_keys([1, 2, 3, 4, 5])

In [56]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.pop(2)

'sita'

In [57]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.items()

dict_items([(1, 'ram'), (2, 'sita'), (3, 'ravan'), (4, 'laxman'), (5, 'bhart')])

In [58]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.popitem()

(5, 'bhart')

In [60]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.setdefault(4)

'laxman'

In [62]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.update()

In [63]:
dict1={1:"ram",2:"sita",3:"ravan",4:"laxman",5:"bhart"}
dict1.values()

dict_values(['ram', 'sita', 'ravan', 'laxman', 'bhart'])

In [9]:
set1={10,20,30,40,50,60,70}
s=
frozenset(s(set1)

SyntaxError: invalid syntax (Temp/ipykernel_19580/2349152724.py, line 2)

In [75]:
#range()
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [61]:
for i in range(1,99):
    print(i,end=" ")

TypeError: 'tuple' object is not callable

In [79]:
for i in range(20,40,3):
    print(i,end=" ") # consider every third element.

20 23 26 29 32 35 38

In [85]:
for i in range(20,10,-1):
    print(i,end=" ") # it will be reverse the squence

20 19 18 17 16 15 14 13 12 11

In [ ]:
#bytes
these are the squence only
it is group of element 
it is group of bytes number

In [86]:
bytes 
x=[10,20,30,40]
b=bytes(x)
type(b)
print(b)

b'\n\x14\x1e('

In [88]:
for i in b:
    print(i,end=" ")

10 20 30 40

In [10]:
a=[10,20,30,40,50,60,70,80,256,257,256]
b=bytes(a)
print(b)
print(type(b))

ValueError: bytes must be in range(0, 256)

In [93]:
a=[10,20,30,40,50,60,70,80,255]
b=bytes(a)
print(b)
print(type(b))

b'\n\x14\x1e(2<FP\xff'
<class 'bytes'>

In [10]:
a=[10,20,30,40,50,60,70,80,255]
a[0]

10

In [11]:
a[-1]

255

In [13]:
a[2]

30

In [6]:
a[2]=100
a

[10, 20, 100, 40, 50, 255]

In [5]:
#byte array

In [6]:
a=[10,20,30,40,50,255]
ba=bytearray(a)
ba[2]

30

In [5]:
a=[10,20,30,40,50,255]
ba=bytearray(a)

ba[2]=100
ba

bytearray(b'\n\x14d(2\xff')

In [7]:
a=[10,20,30,40,50,255]
ba=bytearray(a)
for i in ba:                #byte array is mutable
    print(i,end=" ")

10 20 30 40 50 255

In [ ]:
# operators
1. arthmetic 
2. logical 
3. assisgment 
4. bitwise 
5. special

In [ ]:
# arthmetic opertors 
+ addision
- subtraction
* multiple
/ divison
** expoent
% reminder

In [16]:
a=10
b=2
s1=a+b
s1
s2=a-b
s2
s3=a*b
s3
s4=a/b
s4
s5=a%b
s5
s6=a//b
s6
print(s1,s2,s3,s4,s5,s6,end=" ")

12 8 20 5.0 0 5

In [12]:
a=10 
b=3
s=a/b
s

3.3333333333333335

In [13]:
a%b
s=a%b
s

1

In [14]:
a//b
s=a//b
s

3

In [18]:
a=11.5
b=2
s=a/b
s
p=a%b
p
z=a//b
z

5.0

In [26]:
a=10
b=2

In [21]:
s=a>b
s

True

In [25]:
d=a<b
d

False

In [23]:
f=a>=b
f

True

In [24]:
g=a<=b
g

False

In [32]:
a="mango"
b="ram" # ascii code 
a>b

False

In [29]:
a>=b

False

In [30]:
a<b

True

In [31]:
a<=b

True

In [33]:
a="ram"
b="rat"
a>b      # m value less t

True

In [34]:
a>=b

False

In [35]:
a<b

True

In [36]:
a<=b

True

In [37]:
print(10<20<30<40<50)

True

In [39]:
print(10<20<30<40>50)

False

In [48]:
list1=[1,2,3,4,5,6,7]
sum=0
for i in list1:
    sum=sum+i
print(sum)

28

In [52]:
list2=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in list2:
    sum=sum-i
print(sum)

-55

In [58]:
#print all number zero hundred

for i in range (1,100):
    print(i)

TypeError: 'tuple' object is not callable

In [1]:
# idenity of operators
a=10
b=20
print(a is b)

False

In [2]:
c=10
print(a is c)

True

In [3]:
a=10.0
b=10.0
print(a is b)

False

In [12]:
a=[10,20,30]
b=[10,20,30]
id(a)
id(b)
print(a is b)
id(a)
id(b)

False

2109609109824

In [10]:
a=(10,20,30)
b=(10,20,30)
id(a)
id(b)
print(a is b)

False

In [13]:
a="ranjan"
b="rajan"
id(a)
id(b)
print(a is b)
id(a)

False

2109609060272

In [16]:
#memership operators
l=[10,20,30]
print(10 in l)

True

In [17]:
print(40 in l)
print(50 not in l)

False
True

In [18]:
#bitwise operators
& and
!or
^
~
<<

SyntaxError: invalid syntax (Temp/ipykernel_19464/2437662790.py, line 2)

In [19]:
print(4&5)

4

In [20]:
print(4/5)

0.8

In [21]:
print(4^5)

1

In [22]:
print(4~5)

SyntaxError: invalid syntax (Temp/ipykernel_19464/3798558195.py, line 1)

In [24]:
#input a statement
a=eval(input("enter a number"))
b=eval(input("enter a number"))
sum=a,b
sum

enter a number2
enter a number2

In [25]:
print("aditya")

aditya

In [27]:
print('aditya')

aditya

In [29]:
print('rajan+'sihna')

rajan+sihna

In [30]:
print("rajan+""sihna")

rajan+sihna

In [31]:
print("rajan",end=" ")

rajan

In [37]:
print('rajan',end= ":")

rajan:

In [34]:
print("rajan""_"+"sinha")

rajan_sinha

In [ ]:
#print formatting
%i=integer
%d=integer
%f=float
%=string

In [61]:
a,b,c=10,20,30
print('a value is %i" and b value is %i'(a,b))

<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\DELL\AppData\Local\Temp/ipykernel_19464/609058544.py:2: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print('a value is %i" and b value is %i'(a,b))

TypeError: 'str' object is not callable

In [59]:
a=10
b=20
c=30
print("b is % i and a is %i and c is %i"%(b,a,c))

b is  20 and a is 10 and c is 30

In [57]:
a=10
b=20
c=30
print("b is % i and a is %i and c is %i"%(a,b,c))

b is  10 and a is 20 and c is 30

In [49]:
a="ranjan"
b=10.5
c=40
print('a value is %s and b value is %f and c value is %d'%(a,b,c))

a value is ranjan and b value is 10.500000 and c value is 40

In [51]:
print("a value is {} and b value is {} and c value is {}".format(a,b,c))

a value is ranjan and b value is 10.5 and c value is 40

In [55]:
print("a value is {2} and b value is {0} and c value is {1}".format(a,b,c))

a value is 40 and b value is ranjan and c value is 10.5

In [70]:
#write a progrm greater of two number
a=eval(input( "first number ="))
b=eval(input( "second number ="))
if a>b:
    print( "a is greater")
if b>a:
    print(" b is greater")

first number =5
second number =6
 b is greater

In [79]:
a=eval(input( "first number ="))
b=eval(input( "second  number ="))
if a>b :
    print( "a is greater")
else :
    print(" b is greater")

first number =1
second  number =2
 b is greater

In [78]:
#write a progrm
a=eval(input( "first number ="))
b=eval(input( "second  number ="))
c=eval(input( "third  number ="))
if a>b and a>c:
    print( "a is greater")
elif b>a and b>c:
    print(" b is greater")
else :
    print(" c is greatetr")

first number =1
second  number =2
third  number =3
 c is greatetr