In [5]:
#if and else conditions questions
a=30
b=200
if a>b:
     print("b is greater than a")

In [1]:
x=range(5,20)
for i in x:
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
x=range(5,20,3)
for i in x:
    print(i)

5
8
11
14
17

In [9]:
x=range(6)
sum =int(x)+1
for sum in x:
    print(sum)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'range'

In [1]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [ ]:
#data types ,str,boolean,float,complex,integer 
convert int into str, float,complex,

In [16]:
#convert int, into str, float,complex,boolean
#int covert into strint
a=5
str(a)

'5'

In [15]:
#int covert into float

float(a)

4.0

In [17]:
#int covert into complex
complex(a)

(5+0j)

In [18]:
#int covert into boolean
bool(a)

True

In [19]:
#convert float  into str, int,complex,boolean
#float convert into int
a=5.5
int(a)

5

In [48]:
#float convert into str
a=5.5
str(a)

'5.5'

In [49]:
#float convert into complex
a=5.5
complex(a)

(5.5+0j)

In [50]:
#float convert into bool
a=5.5
bool(a)

True

In [23]:
#convert string into float, int,complex,boolean
#string convert into int
a="aditya"
int(a)

ValueError: invalid literal for int() with base 10: 'aditya'

In [28]:
#string convert into float
a="aditya"
float(a)

ValueError: could not convert string to float: 'aditya'

In [47]:
#string convert into compleax
a="aditya"
complex(a)

ValueError: complex() arg is a malformed string

In [35]:

#string convert into boolean
a=True
str(a)

'True'

In [33]:
#convert boolean into float, int,complex,string
#boolean convert into int
a=True
int(a)

1

In [32]:
#boolean convert into int
a=True
float(a)

1.0

In [36]:
#boolean convert into string
a=True
str(a)

'True'

In [37]:
#boolean convert into compleax
a=True
complex(a)

(1+0j)

In [45]:
#complex into string
str(a)

'(1+0j)'

In [ ]:
l =["cdac","patna","pgdai","course"]

for i in  l:
    if len(i)> 4:
        l.append(i.upper())
    else:
        l.append(i)

In [3]:
#swapping two number
x = 5
y = 10

x, y = y, x
print("x =", x)
print("y =", y)

x = 10
y = 5

In [10]:
num=7
for i in range(2,num):
    if num%1==0:
        print("number is a prime")
    
    break
else:
    print("not a prime")

number is a prime

In [4]:
l=[1,2,3,4,5]
l.remove(1)
print(l)

[2, 3, 4, 5]

In [26]:
l=[1,2,3,4,5,2,6,7,7]
l.pop(2)

3

In [34]:
l=[1,1,2,3,4,3,4,6,3]
l.extend(l)

In [41]:
l=[1,2,3,4,5]
l[:2]

[1, 2]

In [40]:
l[2:]

[3, 4, 5]

In [42]:
l[1:2]

[2]

In [39]:
l[::-1]

[5, 4, 3, 2, 1]

In [45]:
l.index(5)

4

In [2]:
keys= ["ten", "twenty", "thirty"]
value= [10, 40, 30]
d{}
for i in range(len(keys)):
    d[key[i]]=value

SyntaxError: invalid syntax (Temp/ipykernel_32496/1226213188.py, line 3)

In [12]:
dict1 = {"ten": 10, "twenty": 20}
dict2 = {'a': 40, 'b': 50}
dict1.update(dict2)

In [10]:
d1={"a":100,"b":200,"c":300}
d2={"a":300,"b":200,"c":400}
#program to combine two dictionary adding valuse key
d3 = {}
for i in d1.keys():
    if i in d2.key():
        op[i]

IndentationError: expected an indented block (Temp/ipykernel_20260/4081466531.py, line 8)

In [18]:
#program to create a dicitonary from a string 
s="cdac"
#with key =letter in string
#value=count of those letter in string
s="i study in cdac patna "
d = {}
  
for i in s:
    d[i]=s.count(i)
print (d)

{'i': 2, ' ': 5, 's': 1, 't': 2, 'u': 1, 'd': 2, 'y': 1, 'n': 2, 'c': 2, 'a': 3, 'p': 1}

In [ ]:
d={"fee"=5000,"no of students":100,"capicity";250,"pass marks":40}
#program to find the sum of all values in dict

In [9]:
list1 = [1, 2, 2, 5, 8, 4, 4, 8]
l1 = []
count = 0
for i in list1:
    if item not in l1:
        count += 1
        l1.append(i)
print(" unique value are:", count)

 unique value are: 5

In [78]:
a=int(input("a"))
b=int(input("b"))
print(type(a))
s=a+b
print(s)

a2
b2
<class 'int'>
4

In [7]:
a=["cdac","course","patna"]

for i in a:
    if i.startswith("c"):
        print(i)

cdac
course

In [4]:
l=[1,2,3,4,5,6,7,1,8,1] 
for i in l :
    print

print(l)

[1, 2, 3, 4, 5, 6, 7, 1, 8, 1]

In [9]:
                     #SET

d={}              # empty set
print(type(d))

<class 'dict'>

In [11]:
s=set()
print(type(s))

<class 'set'>

In [14]:
x={"cdac"}
print(type(x))

<class 'set'>

In [16]:
s=set(['cdac','patna'])
print(s)

{'cdac', 'patna'}

In [19]:
print(len(s))

2

In [21]:
#set(sequence -str/list/tuple)
s={"cdac"}
print(s)

{'cdac'}

In [23]:
#order is random
s={"cdac","patna",1,2}
for i in s:
    print(i)
#check if an element exist
print("patna"in s)

1
2
cdac
patna
True

In [26]:
#element add in a set
s.add("course")         # we cant add a list in set 
s

{1, 2, 'cdac', 'course', 'patna'}

In [28]:
s.update([4,5,6,])
s

{1, 2, 4, 5, 6, 'cdac', 'course', 'patna'}

In [30]:
s1={ "pgdi,pgdiot"}
s.update(s1)  # we can pass any squence in update method to add multiple element
s1              # it can be added randomly

{'pgdi,pgdiot'}

In [33]:
s1={ "pgdi,pgdiot","pgdi"}
s1

{'pgdi', 'pgdi,pgdiot'}

In [34]:
#removing element in the set 
#remove methods 
s.remove("course")
s

{1, 2, 4, 5, 6, 'cdac', 'patna', 'pgdi,pgdiot'}

In [36]:
# discard methos 
s.discard((45,56)) # if element is not present ,it donest nt thorow error
                   #if element is not present , it throw error 
s

{1, 2, 4, 5, 6, 'cdac', 'patna', 'pgdi,pgdiot'}

In [37]:
s.remove()
s

TypeError: set.remove() takes exactly one argument (0 given)

In [38]:
#pop methods
s.pop()

1

In [39]:
#clear & del
s.clear()
s

set()

In [40]:
del(s)
s

NameError: name 's' is not defined

In [ ]:
#special methods in set 
#union -combined the element

#intersection- common element
#difference - a-b
#symmertic differecence-
#disadjoint- there is nothing commonn in 2 set
#subset- b element present in a
#superset- then a is super set

In [42]:
#special methods in set 
s1={1,2,3,4,5,6,7}
s2={4,5,6,7,8}
s3= s1.union(s2)
s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [44]:
s4=s1.intersection(s2)
s4

{4, 5, 6, 7}

In [45]:
s5=s1.difference(s2)
s2

{4, 5, 6, 7, 8}

In [46]:
s6=s1.symmetric_difference(s2)
s6

{1, 2, 3, 8}

In [49]:
s1={1,2,3,4,5}
s2={1,2,3,4}
s1.issuperset(s2)

True

In [51]:
s1={1,2,3,4,5}
s2={1,2,3,4}
s3.intersection(s2)
s3

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
s1.intersection_update(s2)
s1

{1, 2, 3, 4}

In [53]:
s1.difference_update(s2)
s1

set()

In [54]:
s1={1,2,3,4,5}
s2={1,2,3,4}
s2.difference_update(s1)
s2

set()

In [55]:
print(s1|s2)

{1, 2, 3, 4, 5}

In [57]:
print(s1&s2)

set()

In [ ]:
''''union=|
intersection=&
symmertic diff=^
isssubset=<
issuperset=>
''''

In [61]:
l=[1,2,3,4,5,3,2,1]   # remove the duplicste elements
print(list(set(l)))

[1, 2, 3, 4, 5]

In [19]:
s = "1010101010"

b = '10'
count = 0
for i in s:
       if i not in b:
            count = 1
            break 
            
else:
    pass
     
if count:
   print("S is not a binary string")
else:
   print("S is a binary string")

S is a binary string

In [ ]:
s="1010101010"
for i in s:
    if i either in

In [1]:
#fun to check if a number is odd\even
def oddEven(num):
    if num%2==0:
        print("num is even")
    else:
        print("num is odd")
a=int(input()) 
oddEven(a)

13
num is odd

In [94]:
def divisible(num):
    if num%5==0:
        print("num is divisble by 5")
    else:
        print("num is not divisible 5")
        
a=int(input()) 
divisible(a)

7
num is not divisible 5

In [5]:
#Exercise 1: Add a list of elements to a se
set1 = {"Yellow", "Orange", "Black"}
list1 = ["Blue", "Green", "Red"]

set1.update(list1)
print(set1)

{'Yellow', 'Red', 'Blue', 'Orange', 'Black', 'Green'}

In [6]:
#Exercise 2: Return a new set of identical items from two sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [7]:
#Exercise 3: Get Only unique items from two sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [8]:
#Exercise 4: Update the first set with items that don’t exist in the second set

set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [10]:
#Exercise 5: Remove items from the set at once

set2 = {30, 40, 50, 60, 70}
set2.difference_update({10, 20, 30})
print(set2)

{50, 70, 40, 60}

In [11]:
#Exercise 6: Return a set of elements present in Set A or B, but not both

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [13]:
#Exercise 8: Update set1 by adding items from set2, except common items

set1 = {10, 20, 30, 40, 50}
set2 = {20, 30, 40, 50, 70}

set1.symmetric_difference_update(set2)
print(set1)

{70, 10}

In [14]:
#Exercise 9: Remove items from set1 that are not common to both set1 and set2

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)

{40, 50, 30}

In [11]:
s="1010101010"

def binary_fun(s):
    b=("10")
    for i in s:
        if s == b or b == ('0') or b == ('1'):
            print("Binary String")
            
         
        else :
            print("Non Binary String")
        
        
    
s=binary_fun("s") 
print(s)

Non Binary String
None

In [ ]:
#
def expo(num,power):
    return

In [51]:
lower_number = int(input (" enter lower value"))  
upper_number  = int(input ("enter the upper value ")) 
  
for number in range (lower_number , upper_number + 1):
    
    if number > 1: for i in range (2, number):  
            if (number % i) == 0:  
                break 
        else

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [3]:
a="cad#cdac#$+#@^%&#+"
x = #
y = *

x, y = y, x
print("x =, x)
print("y =,)

SyntaxError: invalid syntax (Temp/ipykernel_22984/3035209149.py, line 2)

In [2]:
l=[1,2,3,4,5,6,7,8]     
a=l[0]-l[2]
print(a)

1

4
5

TypeError: 'int' object is not iterable

In [13]:
l1=[4,5,6,7,8,9,10]
j=int(input("l2 element"))
l1=l[j:]
l2=l[:j]
print(l1+l2)

l2 element1
[2, 3, 4, 5, 6, 7, 8, 1]

In [16]:
x=input()
y=input()

for i in y:
    if  :
        print(i)

hello cdac patna
hello world in the

In [ ]:
#sytanx error
a= 5
while a==5:
    print(a)
    break

In [1]:
class shape:
    height=12
    breadth=15
    
    def get_area(self):
        print("area is"self.length*self.breadth)
e1=shape()  

e1.display()

SyntaxError: invalid syntax (Temp/ipykernel_9388/4008008113.py, line 6)

In [19]:
class calculator:
    sum=0
    division=
    
    def _init_(self,num1,num2) :
        self.num1 =num1
        self.num2 =num2
        
    def add(self):
            self.sum =self.num1+self.num2
            return self.sum
    def sub(self):
            self.sum =self.num1-self.num2
            return self.sum    
    def divison(self):
        self.sum =self.num1 //self.num2
            return self.sum  
    def multiplication(self):
        self.
        
    
c= calculator(4,5) 
print(c.add())

IndentationError: unexpected indent (Temp/ipykernel_9388/3493788295.py, line 17)

In [20]:
class sting:
    def _int_(self):
        self.attrbute="aditya"
        def display (self):
            print(self. attribute)
string1=string()

NameError: name 'string' is not defined

In [11]:
class dog :
    counter = 0

    
    def __init__(self,name,age) :
        self.name = name
        self.age = age
        dog.counter = +1
        
dog1=('xyx',22)       
dog2=("xxy",23) 
print(dog.counter)

0

In [21]:
class car:  
    def __init__(self,maxspeed,sittingcapacity,mileage):  
        self.maxspeed  
        self.sittingcapacity 
        self.mileage
    def display(self):  
        print(self.maxspeed,self.sittingcapacity,self.mileage)  
  
c1 = car(120,5,25)  
c1.display()

AttributeError: 'car' object has no attribute 'maxspeed'

In [36]:
#1-Create a vehicle class with  no attributes and methods.
class Car:
    pass

In [6]:
#Q2. Create a Vehicle class with max_speed and mileage instance attributes and seating_capacity as a method.

class car:
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
        
        
        
c1 = car(200,25,4)
print(c1.maxspeed, c1.mileage,c1.sitting)

200 25 4

In [33]:

class car:
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
class bus(car):
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
    
        
c1 = bus(200,25,4)
print(c1.maxspeed, c1.mileage,c1.sitting)

200 25 4

In [28]:
#Q. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.
class car:
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
class bus(car):
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
    
        
c1 = bus(200,25,50)
print(c1.maxspeed, c1.mileage,c1.sitting)

200 25 50

In [42]:
#Q5.Define another property that should have the same value for every class instance of vehicle.

class car:
    colour="white"

    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
class bus(car):
    colour="white"
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
    

class van(car):
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
    
          
        
c1 = bus(200,25,4)
print(c1.maxspeed, c1.mileage,c1.sitting)
van.colour

200 25 4

'white'

In [27]:
class car:
    wheel=4
    colour="white"
    def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
class bus(car):
     def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting

class van(bus):
     def __init__(self, maxspeed, mileage,sitting):
        self.maxspeed = maxspeed
        self.mileage = mileage
        self.sitting=sitting
          
        
c1 = bus(200,25,4)
print(c1.maxspeed, c1.mileage,c1.sitting)
van.colour

200 25 4

'white'

In [43]:
print(type(0xFF))

<class 'int'>

In [45]:
d = {1:'Jimmy', 2:'Alex', 3:'john', 4:'mike'}    
print(type(d))

<class 'dict'>

In [8]:
#Program to print the sum of the given list.
l1=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in l1:
    sum=sum+i
    print(sum,end=" ")

1 3 6 10 15 21 28 36 45 55

In [ ]:
import numpy as np

In [ ]:
a=np.array

In [20]:
l=[0,1,2,3,4,5,6,7,8,9,10]
l[:]

[8, 9, 10]

In [21]:
l=[24,34,44,55,66,77,88,99,65,43,25]
l[1:8:3]

[34, 66, 99]

In [29]:
l=[1,2,3,4,5,6,7,8,9,10]
l[:4]

[1, 2, 3, 4]

In [39]:
l=[1,2,3,4,5,6,7,8,9]
l[2::7]

[3]

In [38]:
Lst = [50, 70, 30, 20, 90, 10, 50]
Lst[2:5:4]

[30]

In [41]:
lst=[50, 70, 30, 20, 90, 10, 50]
lst[5:2:2]

[]

In [46]:
lst=[1,2,3,4,5,6,7,8]
lst[5:8:2]

[6, 8]

In [49]:
l=[1,2,3,4,5,6,7,8,9,10]
l[0:6:2]

[1, 3, 5]

In [50]:
l[:2]

[1, 2]

In [51]:
l=[1,2,3,4,5,6,7,8,9,10]
l[1::2]

[2, 4, 6, 8, 10]

In [55]:
l=[1,2,3,4,5,6,7,8,9,10]
l[2:5:2]

[3, 5]

In [69]:
b=([[1,2,3,4,5],[6,7,8,9,10]])
    print(j)

6
7
8
9
10

In [75]:
import nump

a= np.array([1,2,3,4,5,6,7,8])
a+2
a

ModuleNotFoundError: No module named 'nump'

In [1]:
class Car:
    def __init__(self, maxspeed:
    max_speed=max_speed
        
class Boat(car):
    def __init__(self, maxspeed:
        max_speed= "77 knots"
        
c1= car(max_speed)
c2=boat(max_speed)
print(c1.maxspeed, c2.max_speed)

SyntaxError: invalid syntax (Temp/ipykernel_103216/1895441565.py, line 5)

In [11]:
class car:
    

    def __init__(self, maxspeed):
        self.maxspeed = maxspeed
        
class boat(car):
    
    def __init__(self, maxspeed):
        self.maxspeed = maxspeed
        
c1 = car("200kmhrs")
c2=boat("77knots")

print(c1.maxspeed,c2.maxspeed)

200kmhrs 77knots